@page
@model Exwhyzee.AANI.Web.Areas.Datapage.Pages.Account.LoadingModel
@{
}
<section class="content" style="margin-top:10px;">
    <div class="container-fluid">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-3">
               
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <h2>Loading</h2>
                        <h3>Men @@ Work</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>