@page
@model Exwhyzee.AANI.Web.Areas.Datapage.Pages.Account.VotingModel
@{
}

<section class="content" style="margin-top:10px;">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">ELECTION</h3>
             
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h6>General Election Concluded for the year</h6>
            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>