@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.Board.Member.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">ADD A NEW BOARD OF GOVORNOR MEMBER</h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BoardOfGovornorMember.ParticipantId" class="control-label"></label>
                        <select asp-for="BoardOfGovornorMember.ParticipantId" class="form-control select2 select2-primary js-example-basic-single" data-dropdown-css-class="select2-primary" asp-items="ViewBag.ParticipantId"></select>
            </div>
           

            <div class="form-group">
                <label asp-for="BoardOfGovornorMember.Position" class="control-label"></label>
                        <select asp-for="BoardOfGovornorMember.Position" class="form-control">
                            <option value="MEMBER">MEMBER</option>
                            <option value="CHAIRMAN">CHAIRMAN</option>
                            <option value="DIRECTOR-GENERAL">DIRECTOR-GENERAL</option>
                        </select>                <span asp-validation-for="BoardOfGovornorMember.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardOfGovornorMember.BoardOfGovornorCategoryId" class="control-label"></label>
                <select asp-for="BoardOfGovornorMember.BoardOfGovornorCategoryId" class ="form-control" asp-items="ViewBag.BoardOfGovornorCategoryId"></select>
            </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
