@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.BlogNews.Category.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">BLOG CATEGORY EDIT</h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BlogCategory.Id" />
            <div class="form-group">
                <label asp-for="BlogCategory.Title" class="control-label"></label>
                <input asp-for="BlogCategory.Title" class="form-control" />
                <span asp-validation-for="BlogCategory.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogCategory.Show" class="control-label"></label>
                <input asp-for="BlogCategory.Show" />
                <span asp-validation-for="BlogCategory.Show" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

            </div>
        </form>
    </div>

    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
