@page
@model Exwhyzee.AANI.Web.Areas.Alumni.Pages.Dashboard.ResponseModel
@{
    Layout = "/Pages/Shared/_Processing.cshtml";

}


<p class="login-box-msg" style=" font-size: 2em; font-weight: 900; color: black;">SUBMITTED SUCCESSFULLY</p>

<div>
    <h3>@Html.Raw(TempData["response"])</h3>
    @if (TempData["login"] != null)
    {
        <a asp-page="/Account/Login" asp-area="Identity" class="btn btn-primary">LOGIN NOW</a>
    }
</div>