@page
@model Exwhyzee.AANI.Web.Areas.Alumni.Pages.Dashboard.ResponseModel
@{
    Layout = "/Pages/Shared/_Processing.cshtml";

}


<p class="login-box-msg" style=" font-size: 2em; font-weight: 900; color: black;">THANK YOU FOR YOUR SUBMISION</p>

<div>
    <h3>@TempData["response"]</h3>
    <a href="/" class="btn btn-primary">GO THROUGH THE WEBSITE.</a>
</div>