@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.ExecutivePage.MemberCampain.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Campain</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Campain.Id" />
            <div class="form-group">
                <label asp-for="Campain.ParticipantId" class="control-label"></label>
                <select asp-for="Campain.ParticipantId" class="form-control" asp-items="ViewBag.ParticipantId"></select>
                <span asp-validation-for="Campain.ParticipantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campain.Date" class="control-label"></label>
                <input asp-for="Campain.Date" class="form-control" />
                <span asp-validation-for="Campain.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campain.ExecutivePositionId" class="control-label"></label>
                <select asp-for="Campain.ExecutivePositionId" class="form-control" asp-items="ViewBag.ExecutivePositionId"></select>
                <span asp-validation-for="Campain.ExecutivePositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campain.Manifesto" class="control-label"></label>
                <input asp-for="Campain.Manifesto" class="form-control summernote" />
                <span asp-validation-for="Campain.Manifesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campain.CampaignQoute" class="control-label"></label>
                <input asp-for="Campain.CampaignQoute" class="form-control" />
                <span asp-validation-for="Campain.CampaignQoute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
