@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.EventPage.Expenditure.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">ADD A NEW EXPENDITURE</h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="EventExpenditure.EventId" value="@Model.Event.Id" />

            <div class="form-group">
                <label asp-for="EventExpenditure.Title" class="control-label"></label>
                <input asp-for="EventExpenditure.Title" class="form-control" />
                <span asp-validation-for="EventExpenditure.Title" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="EventExpenditure.ExpenditureDate" class="control-label"></label>
                <input asp-for="EventExpenditure.ExpenditureDate" class="form-control" />
                <span asp-validation-for="EventExpenditure.ExpenditureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventExpenditure.Note" class="control-label"></label>
                <input asp-for="EventExpenditure.Note" class="form-control" />
                <span asp-validation-for="EventExpenditure.Note" class="text-danger"></span>
            </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
