@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.PaperPage.Category.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">PAPERS CATEGORY</h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaperCategory.Title" class="control-label"></label>
                <input asp-for="PaperCategory.Title" class="form-control" />
                <span asp-validation-for="PaperCategory.Title" class="text-danger"></span>
            </div>
          
             <div class="form-group">
                <label asp-for="PaperCategory.Description" class="control-label"></label>
                <textarea asp-for="PaperCategory.Description" class="form-control" ></textarea>
                <span asp-validation-for="PaperCategory.Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

            </div>
        </form>
    </div>

<div class="card-footer">
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
