@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.PaperPage.Category.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PaperCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaperCategory.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaperCategory.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaperCategory.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaperCategory.Date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PaperCategory.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
