@page
@model Exwhyzee.AANI.Web.Pages.Web.AboutModel
@{
}
<!-- Page Title START -->
<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>About Us</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</div>
<!-- Page Title END -->
<!-- Info & Feature Section START -->
<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/pic/aboutaani.jpeg" class="rounded-border shadow-primary" alt="img">
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="pl-30-md">
                    <div class="section-heading">
                        <h4>Welcome To The Alumni Association of The National Institute</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20">
                        <p>

                            The National Institute was established by Decree No 20 of 1st January 1997 (now CAP.N51 Laws of the Federation 2004) as a Federal parastatal under the Presidency of the Federal Republic of Nigeria. Section 3 of the Act states the objectives and functions of the Institute as follows:

                        </p>
                    </div>
                    <div class="row mt-20">
                        <div class="col-md-12">
                            <ul class="primary-list">
                                <li>
                                    <i class="fa fa-caret-right"></i>                            The Institute shall serve as high level centre of reflection, research, and dialogue where academics of intellectual excellence, policy initiators and executors and other citizens with high level of practical experience and wisdom drawn from different sectors of national life in Nigeria would meet to reflect and exchange ideas on the great issues of society, particularly as they relate to Nigeria and Africa, in the context of the dynamics of a constantly changing world.
                                </li>
                            </ul>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <h3>
                    For the purpose of subsection (1) of this section, the Institute is hereby empowered:
                </h3>

                 <div class="col-md-12">
                            <ul class="primary-list">
                                <li>
                            <i class="fa fa-caret-right"></i>                      To conduct courses for top level policy makers and executors drawn from different sectors of the national policy with a view to expanding their outlook and perspective and stretching their conceptual capacity and qualities of discernment and analysis and thereby helping to improve their overall performance in their different fields of action;

                                </li>
                                 <li>
                            <i class="fa fa-caret-right"></i>                     To award certificates of attendance to those who participate in a sufficient and satisfactory manner in any of its course

                        </li>
                                 <li>
                            <i class="fa fa-caret-right"></i>                   To conduct seminars, workshops and other action-oriented programmes whether on a continuing or ad hoc basis for leaders in the public services (including the armed forces and other disciplined forces), the private sector, political organizations, professional and other groups with a view to promoting and defining, and enhancing appreciation for, long range national plans and objectives;

                        </li>
                                 <li>
                            <i class="fa fa-caret-right"></i>                     To identify, encourage, stimulate, assemble, organize and help deploy to the best national advantage the country’s intellectual talents and experienced policy analysts who are likely to make positive contributions to the treatment of complex policy problems;

                        </li>
                                 <li>
                            <i class="fa fa-caret-right"></i>                  To organize and carry out, on an inter-disciplinary basis in intellectual support of those charged with making and implementing policy for Nigeria research in depth into the social, economic, political, security, scientific, cultural and other problems s facing the country and to formulate and present, in usable form, the available options for their  solution;

                        </li>
                                 <li>
                            <i class="fa fa-caret-right"></i>                  To disseminate by way of publication of books, records, reports or otherwise information about any part of its activities, to the extent deemed justified by the Board in the interest of the nation, and generally as a contribution towards knowledge and for better national and international understanding: and

                        </li>
                         <li>
                            <i class="fa fa-caret-right"></i>                    To promote or undertake any other activity that in the opinion of the Board is calculated to help achieve the purposes of the Institute.

                        </li>
                            </ul>
                        </div>
                </div>
                </div>
      
    </div>
</div>


<!-- Progress Bars Section END -->
<!-- Video Section START -->
<div class="video-section">
    <div class="video-area" id="video-area">
        <div class="player" id="video-play"
             data-property="{videoURL:'https://www.youtube.com/watch?v=buBvqw6G3WU', containment:'#video-area', showControls:false, autoPlay:true, zoom:0, loop:true, mute:true, startAt:55, opacity:1, quality:'low',}"></div>
        <div class="video-overlay">
            <div class="video-content">
                <div class="section-heading center-holder white-color">
                    <h4>
                        <strong>
                            Also, Section 2 of the Act prescribes for a Board of Governors that is responsible for the overall governance and direction of the Institute with the Director-General as the…
                        </strong>
                    </h4>
                    <p>
The Act further underscores the need for evidence –based policy planning.

                    </p>
                    <p>
Apart from the Presidential Parley Report, other research outputs of NIPSS are: Participants individual essays, collaborative research projects, communique of workshops, results of crisis games, distinguished annual lectures, and other special assignments. The research outputs are disseminated in the form of policy recommendations and implementation strategies through reports, books, journals and policy papers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/pic/missionvision.jpg" class="rounded-border shadow-primary" alt="img">
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="pl-30-md">
                    <div class="section-heading">
                        <h4>MISSION & VISION</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big mt-20">
                        <h5>Mission</h5>
                        <h6>To serve as a think-tank to the government of Nigeria</h6>
                        <hr />
                        <h5>Vision</h5>
                        <h6>To promote the noble ideas of a better society</h6>
                        <hr />
                        <h5>Motto</h5>
                        <h6><i>...Towards a betters society</i></h6>
                        <hr />

                       
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row mt-20">
                <div class="col-md-12">
                    <ul class="primary-list">
                        <li>
                            <i class="fa fa-caret-right"></i>                            To promote understanding, unity, brotherhood and cooperation among the members;

                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>                            To strengthen the relationship between the Association and the National Institute with a view to maintaining synergy;

                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>                            To interact with the Federal and States Governments of Nigeria, other organisations or associations, with similar objectives;

                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>                            To establish the means of contributing objectively to national discourse on any issues affecting the positive development of Nigeria and proffer appropriate recommendation and implementation strategies to the Government;

                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>                            To serve as think-tank to the Federal and States Governments of Nigeria;

                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>                            To maintain the highest standards of conduct, etiquette and discipline among its members;

                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>                            To establish schemes for the promotion of the welfare, security and economic advancement of members;

                        </li>
                        <li>
                            <i class="fa fa-caret-right"></i>                            To create and maintain an endowment fund for the proper observance and discharge of any of the objectives of the Association.

                        </li>
                    </ul>
                </div>

            </div>

        </div>
     
    </div>
</div>
