@page
@model Exwhyzee.AANI.Web.Pages.Web.AboutModel
@{
}
<!-- Page Title START -->
<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>About Us</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</div>
<style>
</style>
<!-- Page Title END -->
<!-- Info & Feature Section START -->
<div class="section-block">
    <div class="container">
        <div class="boxed-div">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12 image1">
                    <img src="~/bg/aboutaani.jpg" class="rounded-border shadow-primary" alt="img">
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                    <div class="">
                        <div class="section-heading title1">
                            <h4>The Genesis of the Association</h4>
                        </div>
                        <div class="text-content-big mt-20">
                            <p>
                                In his lecture at the 30th anniversary of the Institute Chief Olusegun Obasanjo, GCFR, founder of NIPSS and former President of the Federal Republic of Nigeria described the Alumni Association of the National Institute (AANI) as "an unplanned outcome of a purposeful action". The Association was inaugurated twice. 
                            </p>
                             <p>
                                The first inauguration was done by the pioneer Director- General, late Major-General TB Ogundeko, in March 1980 during the graduation ceremony of Senior Executive Course 1, 1979, in Jos. The second inauguration took place in Kuru on Saturday, 28 February, 1981, under the distinguished chairmanship of late Alhaji Ahmed Talib, a key member of the very first Board of Governors. 
                                 
                                 The intention was, and still remains: "to provide all former students with a formal and continuing opportunity to relate to the ideas and activities of the Institute".

                            </p>
                        </div>
                        <div class="button1"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12">
                <div class="boxed-div">

                    <h3>
                        Administrative and other organs of the Association
                    </h3>

                    <div class="col-md-12">

                        <div class="text-content-big mt-20">
                            <p>
                             The organs of the Association comprise:
                            </p><p>
                                The Annual General Meeting (AGM), The National Executive Committee (NEC), Standing Committees, and Chapter Executive Committees. At the beginning, the Association operated in six zones, namely: Kaduna, Enugu, Ibadan, Lagos, Bauchi, and Abuja. However, in order to achieve better and more effective coordination, the zones were increased to ten - Abuja, Bauchi, Benin, Borno, Enugu, Ibadan, Kaduna, Lagos, Port Harcourt, and Sokoto.
                            </p><p>
                                The new configuration was based on contiguity of states, convenience of contact, and programming' rather than on membership strength. Each Zone is headed by a Chairman, who is automatically a member of the National Executive Committee. The zones engage in activities which are designed to promote the gains of the Senior Executive Course, and the Kuru dream.
                            </p><p>
                                The contribution of the zones to national development is through seminars, symposia, and similar activities, where issues strategic to the nation's progress are discussed. From ten zones in 2003, the Association now has twenty-seven Chapters functioning in twenty-seven states of the federation. The Association elects an executive committee every two years to run its affairs. The National Executive Committee (NEC) comprises the President and these other members, namely:

                            </p>
                            <ul class="primary-list">
                                <li>
                                    Vice-President
                                </li>
                                <li>
                                    Secretary-General
                                </li>
                                <li>
                                    Assistant Secretary-General
                                </li>
                                <li>
                                    Financial Secretary
                                </li>
                                <li>
                                    Treasurer
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

 <div class="section-block">
    <div class="container">
       
        <div class="row">
            <div class="col-md-4 col-sm-12 col-12">
                <div class="serv-section-2">
                    <div class="serv-section-2-icon">
                        <i class="icon-settings"></i>
                    </div>
                    <div class="serv-section-desc">
                        <h4>VISION </h4>
                    </div>
                    <p style="height:57px;">To promote the noble ideas of a better society</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-12">
                <div class="serv-section-2">
                    <div class="serv-section-2-icon">
                        <i class="icon-diamond"></i>
                    </div>
                    <div class="serv-section-desc">
                        <h4>MISSION </h4>
                    </div>
                    <p style="height:57px;">To serve as a think-tank to the government of Nigeria</p>
                </div>
            </div>



            <div class="col-md-4 col-sm-12 col-12">
                <div class="serv-section-2">
                    <div class="serv-section-2-icon">
                        <i class="icon-checked"></i>
                    </div>
                    <div class="serv-section-desc">
                        <h4>Motto </h4>
                    </div>
                    <p style="height:57px;">...Towards a betters society<br /></p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="boxed-div">
            <div class="section-heading center-holder">
                <h3>Purpose of setting up AANI by the founding fathers</h3>
            </div>
            <div class="row">

                <div class="col-md-12 col-sm-12 col-12">
                    <div class="">

                        <div class="text-content-big">


                            <ul class="primary-list">
                                <li>
                                    To promote understanding, unity, brotherhood and cooperation among the members;

                                </li>
                                <li>
                                    To strengthen the relationship between the Association and the National Institute with a view to maintaining synergy;

                                </li>
                                <li>
                                    To interact with the Federal and States Governments of Nigeria, other organisations or associations, with similar objectives;

                                </li>
                                <li>
                                    To establish the means of contributing objectively to national discourse on any issues affecting the positive development of Nigeria and proffer appropriate recommendation and implementation strategies to the Government;

                                </li>
                                <li>
                                    To serve as think-tank to the Federal and States Governments of Nigeria;

                                </li>
                                <li>
                                    To maintain the highest standards of conduct, etiquette and discipline among its members;

                                </li>
                                <li>
                                    To establish schemes for the promotion of the welfare, security and economic advancement of members;

                                </li>
                                <li>
                                    To create and maintain an endowment fund for the proper observance and discharge of any of the objectives of the Association.

                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
