@page
@model Exwhyzee.AANI.Web.Pages.Web.ChaptersModel
@{
}

<style>
    .feature-box-4 {
        position: relative;
        background: #fff;
        display: flex;
        border-top: 3px solid #d21e2b;
        overflow: hidden;
        box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
        padding: 10px;
        margin: 15px 0;
    }

    .feature-box-4-icon {
        flex: 0 0 30px;
    }

        .feature-box-4-icon i {
            color: #d21e2b;
            font-size: 20px;
        }

    .feature-box-4 h4 {
        margin-bottom: 0px;
    }

    .section-heading-line-left {
        margin-top: 1px;
        margin-bottom: 4px;
    }

    .feature-box-4-link {
        color: #222;
        font-size: 10px;
        font-weight: 500;
        display: inline-block;
        margin-top: 0px;
    }

    .btnn {
        color: #eff2f5;
        background-color: #d21e2b;
        border-radius: 0;
    }
</style>

<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>AANI CHAPTERS</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">AANI CHAPTERS</a></li>
        </ul>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <h3>AANI CHAPTERS</h3>
            <div class="section-heading-line"></div>
         </div>
       

        <div class="row mt-60">
            @foreach (var x in Model.Chapter)
            {


                <div class="col-md-6 col-sm-12 col-6">
                    <div class="feature-box-4">
                        <div class="feature-box-4-icon">
                            <i class="fa fa-check-square"></i>
                        </div>
                        <div class="feature-box-4-content">
                            <h4>@x.State</h4>
                            
                            <div class="section-heading-line-left"></div>
                            <h4 style="font-weight:900;">Chairman/Chairperson: @x.Chairperson</h4>
                            <p style="font-weight:900;">Email Address: @x.Email</p>
                            <p style="font-weight:900;">Phone Number: @x.PhoneNumber</p>
                        </div>
                        <i class="feature-box-4-icon-bg icon-worldwide2"></i>
                    </div>
                </div>
            }
        </div>
       
    </div>
</div>