@page
@model Exwhyzee.AANI.Web.Pages.Web.ConstitutionModel
@{
}

<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>AANI Constitution</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">AANI Constitution</a></li>
        </ul>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="project-single">
            <div class="project-single-img">
                <img src="~/pic/constitution.jpg" class="rounded-border shadow-primary" alt="img">
            </div>

            <div class="project-single-text">
                <div class="row">
                    <!-- Left Side Start -->
                    <div class="col-md-8 col-sm-8 col-12">
                        <h4>Name</h4>
                        <p>
                            The Association shall be known as the “Alumni Association of the National Institute” which name may, where appropriate, be abbreviated to AANI (herein-after referred to as the Association) and which office shall be situated at the Federal Capital, or any other place in the Federation, as the Association may, from time to time, decide.


                        </p>
                        <hr />
                        <h4>Aims and Objectives</h4>
                        <p>
                            The aims and objectives of the association shall be:


                        </p>
                      
                        <hr />
                    
                      
                        <ul>
                            <li>
                                <i class="fa fa-check"></i>                            To promote the noble ideals of the National Institute especially as embodied in its motto “TOWARDS A BETTER SOCIETY”

                                </li>

                            <li>
                                <i class="fa fa-check"></i>                            To promote understanding, unity, brotherhood and co-operation among the alumni of the national Institute.

                            </li>
                            <li>
                                <i class="fa fa-check"></i>                            To strengthen the link between the Alumni and the National Institute.

                            </li>

                            <li>
                                <i class="fa fa-check"></i>                            To interact with other organisations or association, with similar aims and objectives.

                            </li>


                        </ul>
                        <hr />
                        <h4>Membership</h4>
                        <p>
                            All the alumni of the National Institute are deemed members of the Alumni Association: provided that a member may be suspended from participation in the activities of the association if his annual subscription fees, as provided for in section 15 of the constitution, shall remain unpaid for three calendar years of if he absents himself from three Consecutive Annual General Meetings of the Association without reasonable cause after he shall have received notices of the said meetings.

                        </p>
                        <hr />

                        <h4>National Executive Committee</h4>
                        <p>
                            
                            There shall be for the association in a national executive committee, which shall consist of all the persons holding elective officers under the provisions of section 7 of this constitution

                        </p>
                        <a href="~/doc/anni_constitution.pdf" download="Alumni Association of The National Institute Constitution" class="primary-button button-sm mt-15-xs">Read Full Constitution</a>
                    </div>
                    <!-- Left Side End -->

                    <!-- Right Side Start -->
                    <div class="col-md-4 col-sm-4 col-12">
                        <h4>
                            AANI Constitution Content
                        </h4>
                        <div class="project-single-info">
                            <ul>
                                <li><span><i class="fa fa-circle-o"></i> Name</span> </li>
                                <li><span><i class="fa fa-circle-o"></i>  Aims and Objectives</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Membership</span></li>
                                <li><span><i class="fa fa-circle-o"></i> National Executive Committee</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Functions of the National Executive Committee</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Meetings of the national Executive committees</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Officers of the Association</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Duties of Officers</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Vacation of Office</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Annual General Meeting</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Emergency General Meeting</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Conduct of General Meetings</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Zones of the Association</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Finances of the Association</span></li>
                                <li><span><i class="fa fa-circle-o"></i> Account and Audit</span> </li>
                                <li><span><i class="fa fa-circle-o"></i> International Interaction</span> </li>
                                <li><span><i class="fa fa-circle-o"></i> Infringement of the Constitution</span> </li>
                                <li><span><i class="fa fa-circle-o"></i> Amendment of the constitution</span> </li>
                                <li><span><i class="fa fa-circle-o"></i> NIPSS DECREE</span> </li>
                              
                               
                            </ul>
                        </div>
                    </div>
                    <!-- Right Side End -->
                </div>
            </div>
        </div>

    </div>
</div>

