@page
@model Exwhyzee.AANI.Web.Pages.Web.ConstitutionModel
@{
}

<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>AANI Constitution</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">AANI Constitution</a></li>
        </ul>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="project-single">
            <div class="project-single-img" style="margin:0 auto;text-align:center;">
                <img src="~/img/aani.png" class="rounded-border shadow-primary" style="margin:0 auto;text-align:center;" alt="img">
            </div>
            <h2 class="text-center text-uppercase">AANI Constitution</h2>
            <hr />
            <h2 class="text-center">
                ALUMNI ASSOCIATION OF THE NATIONAL
                INSTITUTE
            </h2>
            <div style="margin:0 auto;text-align:center;">


                <a style="margin:0 auto;text-align:center;" href="~/doc/ANNI_Constitution.pdf" download="Alumni Association of The National Institute Constitution" class="primary-button button-lg">Read Full Constitution</a>
            </div>
        </div>

    </div>
</div>

