@page
@model Exwhyzee.AANI.Web.Pages.Web.WelcomeSpeechModel
@{
}
<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>Welcome Speech</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Welcome Speech</a></li>
        </ul>
    </div>
</div>


<!-- Team Member Section START -->
<div class="section-block">
    <div class="container">
        <div class="boxed-div">

            <div class="team-single">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="team-single-img">
                            <img src="~/pic/speech.jpg" alt="img">
                        </div>
                    </div>

                    <!-- Personal Info START -->
                    <div class="col-md-8 col-sm-8 col-12">
                        <div class="team-single-text">
                            <span>AANI NATIONAL PRESIDENT</span>
                            <h4>MD Abubakar <sub>CFR NPM MNI</sub></h4>
                            <ul class="team-single-info">
                                <li><strong>Mail</strong><span>director@aani.com.ng</span></li>
                            </ul>
                            <div class="text-content mt-20">
                                <p>
                                    On behalf of the National Executive of the Alumni Association of the National Institute for Policy and Strategic Studies, AANI, I bring to you warmest greetings from the generality of our members.
                                </p><p>
                                    Everyone is aware of the role website plays in information dissemination, entertainment and news beats from the organisation that set-up the website. It is in realization of this fact and in order to restore the culture of appraising people with up to date information about AANI and other useful information. The new Executive Members of the Alumni under my leadership decided for obvious reasons to resuscitate the Alumni Website.
                                </p>

                            </div>


                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="team-single-text">

                            <div class="text-content mt-20">

                                <p>

                                    Ladies and Gentlemen be rest assured that the tradition of excellence in terms of the website contents shall be maintained and new innovations have been introduced in conformity with globally acceptable standard towards a better society.
                                </p><p>

                                    As usual, modules and pages as pillars are incorporated into the web portal to introduce AANI as organisation with vision and mission which made it a veritable channel for mass outreaches. Furthermore, it’s user friendly and it is equipped with tools for engaging a live audience with live communication among members of the Alumni and the public.
                                </p><p>

                                    I wish you all happy browsing sessions
                                    <br />
                                    @*<img src="~/pic/signature.png" class="img-fluid" style="max-height:80px;" />*@
                                </p>
                            </div>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-block">
    <div class="container">
        <div class="boxed-div">

            <div class="team-single">

                <div class="row">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Team Member Section END -->
</div>
