@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.Dashboard.FundsModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">FUNDS DASHBOARD</h3>
       
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <h2>COMING SOON...</h2>
    </div>
</div>
