@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.ConfigPage.IndexModel

 
@{
    ViewData["Title"] = "Index";
}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">STYLING AND CONFIG</h3>

    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StylingConfig.CSSStyle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StylingConfig.CSSStyle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StylingConfig.Config)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StylingConfig.Config)
            </dd>
        </dl>
        <a asp-page="./Edit" class="bnt btn-primary">Edit</a>
    </div>
</div> 