@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.IPages.PreviewAllModel
@{

    ViewData["Ignore"] = "Ignore";
    //Layout = "_New2025Layout";
    Layout = "/Pages/Shared/_New2025Layout.cshtml";


}
@{ int sn = 0;}
@foreach (var item in Model.PageSections)
{
    {
        sn++;
    }
    <div class="clearfix"></div>
    <h6 style="margin:15px 0;padding:0px;text-align:center;font-weight:900;border-bottom:1px solid black;">


        SN: [@sn] ---     <span>PREVIEW START >> Category (@item.WebPage.PageCategory.Title) >> Page (@item.WebPage.Title) >> Section No. (@item.TemplateKey) >> Sort Order No. (@item.PageSortOrder)</span>


    </h6>
    <div class="clearfix"></div>

    @await Html.PartialAsync("_PageSections", new { position = "", pageset = "", id = 0, secid = item.Id })

    <div class="clearfix"></div>
    <h6 style="margin: 15px; padding: 20px; text-align: center; font-weight: 900; border-bottom: 1px solid black;">PREVIEW END</h6>
    <div class="clearfix"></div>
}