@page
@model Exwhyzee.AANI.Web.Pages.AlumniPage.AaniExecutiveModel
@{
}

<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>AANI Executive</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">AANI Executive</a></li>
        </ul>
    </div>
</div>

<div class="section-block-grey">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Meet Our Team</span>
            <h3>NATIONAL EXCOS</h3>
            <div class="section-heading-line"></div>

        </div>
        <div class="row mt-50">
             
        </div>
    </div>
</div>



