@page
@model Exwhyzee.AANI.Web.Pages.AlumniPage.AaniExecutiveModel
@{
}

<div class="page-title-section" style="background-image: url('../img/bred.jpg');">
    <div class="container">
        <h1>AANI Executive</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">AANI Executive</a></li>
        </ul>
    </div>
</div>

<div class="section-block-grey">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Meet Our Team</span>
            <h3>NATIONAL EXCOS</h3>
            <div class="section-heading-line"></div>

        </div>
        <div class="row mt-50">
            @foreach (var item in Model.Executive)
            {

                <div class="col-md-12">
                    <div class="" style="width: 100%; padding: 0 8%; margin-top:15px;">
                        <div class="" style="padding:14px;background-color: #eaeaea59; ">
                            <h5>@item.Participant.Fullname</h5>
                            <div class="">
                                <strong>
                                    @if (item.ExecutivePosition != null)
                                    {
                                        @item.ExecutivePosition.Position
                                    }
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



