<li class="nav-header" style="background-color: #c8cacc;border-radius: 4px;font-weight: bolder;color: black;">NAVIGATION</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Index" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            DASHBAORD
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Dashboard/MemberDetails" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            PROFILE
        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-page="/Dashboard/Chapters" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            CHAPTERS
        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-page="/Dashboard/SecPage" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            SEC
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Dashboard/CampainPage" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            CAMPAINS
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Elections" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            ELECTIONS <span class="right badge badge-danger">coming 16<sup>th</sup></span>
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Birthdays" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            BIRTHDAYS
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Celebrations" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            CELEBRATIONS
        </p>
    </a>
</li>
