<li class="nav-header" style="background-color: #c8cacc; border-radius: 4px; font-weight: bolder; color: black;">
    Navigation
</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Index" asp-area="Admin" class="nav-link">
        <i class="nav-icon fa fa-tachometer"></i>
        <p>Dashboard</p>
    </a>
</li>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("AANI"))
{
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>
                Members
                <i class="fa fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-page="/Account/SecPage" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>SEC</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/Account/Chapters" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Chapters</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/Account/Members" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Members</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ParticipantPage/SendResetAccount" asp-area="Main" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Send Reset Account</p>
                </a>
            </li>
        </ul>
    </li>
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Events"))
{
    <li class="nav-item">
        <a asp-page="/EventPage/EventManager/Index" asp-area="Main" class="nav-link">
            <i class="nav-icon fa fa-globe"></i>
            <p>Events</p>
        </a>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Officials"))
{
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-briefcase"></i>
            <p>
                Officials
                <i class="fa fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-page="/ExecutivePage/ActiveExecutive/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-user-secret nav-icon"></i>
                    <p>Executives</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/EventPage/Committee/ManageCommittees" asp-area="Main" class="nav-link">
                    <i class="fa fa-users nav-icon"></i>
                    <p>Committees</p>
                </a>
            </li>

        </ul>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("ChapterElection"))
{
    <li class="nav-item">
        <a asp-page="/ChapterElection/Index" asp-area="Datapage" class="nav-link">
            <i class="nav-icon fa fa-bar-chart"></i>
            <p>Chapter Election</p>
        </a>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("GeneralElection"))
{
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-gavel"></i>
            <p>
                General Election
                <i class="fa fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-page="/account/CampaignYears" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-male nav-icon"></i>
                    <p>Candidates</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/Account/CampaignYears" asp-area="Datapage" class="nav-link">
                    <i class="nav-icon fa fa-bullhorn"></i>
                    <p>Campaign</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/account/voting" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-check-square-o nav-icon"></i>
                    <p>Votes</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/account/results" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-trophy nav-icon"></i>
                    <p>Result</p>
                </a>
            </li>
        </ul>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Library"))
{
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-book"></i>
            <p>
                Library
                <i class="fa fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-page="/PaperPage/category/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-bookmark nav-icon"></i>
                    <p>Shelves</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/PaperPage/PaperList/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-file-text nav-icon"></i>
                    <p>Books & Documents</p>
                </a>
            </li>
        </ul>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Finances"))
{
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-money"></i>
            <p>
                Finances
                <i class="fa fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-page="/Funding/category/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-list-ul nav-icon"></i>
                    <p>Fund Category</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/Funding/FundPage/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-credit-card nav-icon"></i>
                    <p>Funds</p>
                </a>
            </li>
        </ul>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Birthdays"))
{
    <li class="nav-item">
        <a asp-page="/Account/BirthdayCelebration" asp-area="Datapage" class="nav-link">
            <i class="nav-icon fa fa-birthday-cake"></i>
            <p>Birthdays</p>
        </a>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Tools"))
{
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-wrench"></i>
            <p>
                Tools
                <i class="fa fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-page="/MessagePage/Quote/Index" asp-area="Admin" class="nav-link">
                    <i class="fa fa-quote-left nav-icon"></i>
                    <p>Daily Quote</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/NewsletterPage/NotificationPage/Email" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-newspaper-o nav-icon"></i>
                    <p>Newsletter</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/NewsletterPage/NotificationPage/sms" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-newspaper-o nav-icon"></i>
                    <p>Bulk SMS</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/NewsletterPage/NotificationPage/Whatsapp" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-newspaper-o nav-icon"></i>
                    <p>Whatsapp Message</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/NewsletterPage/NotificationPage/History" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-newspaper-o nav-icon"></i>
                    <p>Message History</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/NewsletterPage/Templates/Index" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-file-text-o nav-icon"></i>
                    <p>Message Template</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/BlogNews/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-rss nav-icon"></i>
                    <p>News</p>
                </a>
            </li>

        </ul>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Slider"))
{
    <li class="nav-item">
        <a asp-page="/ISliders/Index" asp-area="Main" class="nav-link">
            <i class="nav-icon fa fa-sliders"></i>
            <p>Slider</p>
        </a>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Gallery"))
{
    <li class="nav-item">
        <a asp-page="/GalleryPage/Index" asp-area="Main" class="nav-link">
            <i class="nav-icon fa fa-picture-o"></i>
            <p>Gallery Page</p>
        </a>
    </li>
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Users"))
{
    <li class="nav-item">
        <a asp-page="/ParticipantPage/Index" asp-area="Main" class="nav-link">
            <i class="fa fa-user nav-icon"></i>
            <p>Users</p>
        </a>
    </li>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a asp-page="/ParticipantPage/ManageRoles" asp-area="Main" class="nav-link">
                <i class="fa fa-user nav-icon"></i>
                <p>Manage Roles</p>
            </a>
        </li>
    }
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Content"))
{
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-gear"></i>
            <p>
                Manage Platform
                <i class="fa fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-page="/IPages/Main/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Website Manager</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/SettingsPage/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Contact Settings</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/AaniChapters/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Manage Chapters</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/BlogNews/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Blog Manager</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/OfficeManage/Index" asp-area="Datapage" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Offices/Sub Offices</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/SettingsPage/OtherSettings" asp-area="Main" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Other Settings</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/SettingsPage/DirectUrl" asp-area="Main" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Direct Url</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-page="/ConfigPage/Index" asp-area="Main" class="nav-link">
                    <i class="fa fa-circle nav-icon"></i>
                    <p>Config Page</p>
                </a>
            </li>


        </ul>
    </li>
}