<li class="nav-header" style="background-color: #c8cacc;border-radius: 4px;font-weight: bolder;color: black;">NAVIGATION</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Index" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            DASHBAORD
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Account/MemberDetails" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            PROFILE
        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-page="/Account/Chapters" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            CHAPTERS
        </p>
    </a>
</li>

<li class="nav-item">
    <a asp-page="/Account/SecPage" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            SEC
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Account/Members" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            MEMBERS
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Account/CampainPage" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            CAMPAIGNS
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Elections" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            ELECTIONS <span class="right badge badge-danger">coming 16<sup>th</sup></span>
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Account/BirthdayCelebration" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            BIRTHDAYS
        </p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Updates" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            UPDATES
        </p>
    </a>
</li>
