<li class="nav-header" style="background-color: #c8cacc;border-radius: 4px;font-weight: bolder;color: black;">Navigation</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Index" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Account/MemberDetails" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-user"></i>
        <p>Profile</p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Account/PapersCategory" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>Library</p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Account/Chapters" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>Chapters</p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Account/SecPage" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-graduation-cap"></i>
        <p>Sec</p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Account/Members" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-address-book"></i>
        <p>Members</p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="//CampainPage" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-envelope-open-text"></i>
        <p>Newsletter</p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="//Elections" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-newspaper"></i>
        <p>News/events</p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Account/BirthdayCelebration" asp-area="Datapage" class="nav-link">
        <i class="nav-icon fas fa-birthday-cake"></i>
        <p>Birthdays</p>
    </a>
</li>
<li class="nav-item">
    <a asp-page="/Dashboard/Updates" asp-area="Alumni" class="nav-link">
        <i class="nav-icon fas fa-bullhorn"></i>
        <p>Updates</p>
    </a>
</li>