@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.Funding.Category.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">FUND CATEGORY</h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FundCategory.Title" class="control-label"></label>
                <input asp-for="FundCategory.Title" class="form-control" />
                <span asp-validation-for="FundCategory.Title" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="FundCategory.EventId" class="control-label"></label>
                <select asp-for="FundCategory.EventId" class="form-control select2 select2-primary js-example-basic-single" data-dropdown-css-class="select2-primary" asp-items="ViewBag.EventId">
                    <option value="">Choose if any</option>
                </select>
            </div>
             <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

            </div>
        </form>
    </div>

<div class="card-footer">
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
