@page
@model Exwhyzee.AANI.Web.Areas.Main.Pages.ContributorsPage.ContributorList.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">ADD CONTRIBUTORS</h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contributor.ParticipantId" class="control-label"></label>
                        <select asp-for="Contributor.ParticipantId" class="form-control select2 select2-primary js-example-basic-single" data-dropdown-css-class="select2-primary" asp-items="ViewBag.ParticipantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Contributor.ContributorCategoryId" class="control-label"></label>
                <select asp-for="Contributor.ContributorCategoryId" class ="form-control" asp-items="ViewBag.ContributorCategoryId"></select>
            </div>

                    <div class="form-group">
                        <label asp-for="Contributor.Year" class="control-label"></label>
                        <input asp-for="Contributor.Year" class="form-control" />
                        <span asp-validation-for="Contributor.Year" class="text-danger"></span>
                    </div>
            <div class="form-group">
                <label asp-for="Contributor.Content" class="control-label"></label>
                <textarea asp-for="Contributor.Content" class="form-control" ></textarea>
                <span asp-validation-for="Contributor.Content" class="text-danger"></span>
            </div>
            
                   
            <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
