@page
@model Exwhyzee.AANI.Web.Pages.ContactModel

@{
    ViewData["Title"] = "Contact";
}
<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Get in Touch</span>
            <h3>Let's Talk about AANI</h3>
            <div class="section-heading-line"></div>
        </div>
        <div class="row mt-50">
            <div class="col-md-6 col-sm-6 col-12">
                <!-- Map START -->
                <div id="map" class="mb-20 mt-10">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                           
                            <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=AANI%20House,%20Plot%20417,%20Tigris%20Crecent,%20Opposite%20FCT%20High%20Court,%20Maitama,%20Abuja,%20Nigeria&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>
                                                                                                                                                                                                                                                                                                                                                                                              .mapouter {
                                                                                                                                                                                                                                                                                                                                                                                                  position: relative;
                                                                                                                                                                                                                                                                                                                                                                                                  text-align: right;
                                                                                                                                                                                                                                                                                                                                                                                                  height: 100%;
                                                                                                                                                                                                                                                                                                                                                                                                  width: 100%;
                                                                                                                                                                                                                                                                                                                                                                                              }</style><a href="https://www.embedgooglemap.net">google maps for web site</a><style>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .gmap_canvas {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    overflow: hidden;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    background: none !important;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    height: 500px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    width: 600px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }</style>
                        </div>
                    </div>
                </div>
                <!-- Map START -->
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 100% !important;
                        width: 100% !important;
                    }
                </style>
            </div>

            <div class="col-md-6 col-sm-6 col-12">
                <!-- Form Start -->
                <p>
                    We respect your privacy and do not to tolerate spam and will never sell, rent, lease or give away your information.<br />We are here to answer any questions you may have.



                </p>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="subject" placeholder="Subject">
                        </div>

                        <div class="col-md-6 col-sm-6 col-12">
                            <input type="text" name="name" placeholder="Name">
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <input type="email" name="email" placeholder="E-mail">
                        </div>

                        <div class="col-md-12">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-md-12">
                            <div class="center-holder">
                                <button type="submit">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Form End -->
            </div>
        </div>

        <div class="row mt-50">
            <div class="col-md-12 col-sm-12 col-12" style="box-shadow: 2px 2px 2px 2px #c1c1c1;padding: 20px 0;margin-top: 30px;">
                <div class="contact-data-box">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-12">
                            <div class="contact-data-box-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-12">
                            <div class="contact-data-box-text">
                                <h4>Phone</h4>
                                <h6>+234-706-791-2387</h6>
                                <h6>811-111-3995</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-12" style="box-shadow: 2px 2px 2px 2px #c1c1c1;padding: 20px 0;margin-top: 30px;">
                <div class="contact-data-box">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-12">
                            <div class="contact-data-box-icon">
                                <i class="fa fa-envelope-open"></i>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-12">
                            <div class="contact-data-box-text">
                                <h4>Director</h4>
                                <h6>director.admin@aani.ng</h6>
                                <h4>For Inquiry</h4>
                                <h6>contact@aani.ng</h6>
                                <h4>Admin</h4>
                                <h6>aanimni@gmail.com , aanimni@aol.com, aanimni@yahoo.com</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-12" style="box-shadow: 2px 2px 2px 2px #c1c1c1;padding: 20px 0;margin-top: 30px;">
                <div class="contact-data-box">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-12">
                            <div class="contact-data-box-icon">
                                <i class="fa fa-globe"></i>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-12">
                            <div class="contact-data-box-text">
                                <h4>OFFICE DETAILS</h4>
                                <h6>
                                    AANI National Secretariat<br />
                                    AANI House, Plot 417, Tigris Crecent, <br />Opposite FCT High Court, Maitama, Abuja, Nigeria
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
