@page
@model Exwhyzee.AANI.Web.Pages.ContactModel

@{
    ViewData["Title"] = "Contact";
}
@using Exwhyzee.AANI.Web.Helper.BaseHelper;
@using Exwhyzee.AANI.Domain.Models;
@inject IBaseModel BaseModel;
@using System.Text.RegularExpressions;

@{
    FooterMenuDataDto menuData = await BaseModel.GetFooterMenuDataAsync();
    Regex regex = new Regex("[^a-zA-Z0-9]");
}


<section class="page-header">
    <div class="page-header__bg"
         style='background-image: url("@(string.IsNullOrEmpty(Model.ContactSettings?.BreadcrumImageUrl) ? "default-image.jpg" : Model.ContactSettings.BreadcrumImageUrl)")'>
    </div>

    <div class="container">
        <div class="page-header__inner">
            <h2>Contact Us</h2>
            <div class="thm-breadcrumb__box">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
                    <li><span class="icon-right-arrow-1"></span></li>
                    <li class="active">Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="contact-info">
    <div class="container">
        <div class="row">
            <!--Contact Two Single Start-->
            <div class="col-xl-4 col-lg-4">
                <div class="contact-info__single">
                    <div class="contact-info__icon">
                        <span class="icon-call"></span>
                    </div>
                    <p>Contact Us</p>

                    @if (menuData.Settings?.PhoneNumbers != null)
                    {
                        @foreach (var phone in menuData.Settings.PhoneNumbers.Where(p => !string.IsNullOrEmpty(p.Number)))
                        {

                            <h3><a href="tel:@phone.Number"> @phone.Number</a></h3>
                        }
                    }



                </div>
            </div>
            <!--Contact Two Single End-->
            <!--Contact Two Single Start-->
            <div class="col-xl-4 col-lg-4">
                <div class="contact-info__single">
                    <div class="contact-info__icon">
                        <span class="icon-email"></span>
                    </div>
                    <p>Mail Us</p>
                    @if (menuData.Settings?.Emails != null)
                    {
                        @foreach (var email in menuData.Settings.Emails.Where(e => !string.IsNullOrEmpty(e.Email)))
                        {

                            <h3><a href="mailto:@email.Email">@email.Email</a></h3>
                        }
                    }

                </div>
            </div>
            <!--Contact Two Single End-->
            <!--Contact Two Single Start-->
            <div class="col-xl-4 col-lg-4">
                <div class="contact-info__single">
                    <div class="contact-info__icon">
                        <span class="icon-pin"></span>
                    </div>
                    <p>Our Office Location</p>
                    @if (menuData.Settings?.Addresses != null && menuData.Settings.Addresses.Any())
                    {
                        <h3>
                            @menuData.Settings.Addresses.FirstOrDefault()?.Address
                        </h3>
                    }
                </div>
            </div>
            <!--Contact Two Single End-->
        </div>
    </div>
</section>




<section class="contact-page">
    <div class="container">
        <div class="contact-page__inner">
            <div class="row">
                <div class="col-xl-6">
                    <div class="contact-page__left">
                        <iframe src="https://maps.google.com/maps?q=AANI%20House,%20Plot%20417,%20Tigris%20Crecent,%20Opposite%20FCT%20High%20Court,%20Maitama,%20Abuja,%20Nigeria&t=&z=13&ie=UTF8&iwloc=&output=embed" class="google-map__one" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="contact-page__right">
                        <h3 class="contact-page__form-title">Get A Free Quote</h3>
                        <form class="contact-form-validated contact-page__form" method="POST">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-page__input-box">
                                        <input type="text" asp-for="Name" placeholder="Your name" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-page__input-box">
                                        <input type="email" asp-for="Email" placeholder="Your Email" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-page__input-box">
                                        <input type="text" placeholder="Phone" asp-for="Phone" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="contact-page__input-box">
                                        <input type="text" placeholder="Subject" asp-for="Subject">
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="contact-page__input-box text-message-box">
                                        <textarea asp-for="MessageBody" placeholder="Messege"></textarea>
                                    </div>
                                    <div class="contact-page__btn-box">
                                        <button type="submit" class="thm-btn contact-page__btn" data-loading-text="Please wait...">
                                            <span class="thm-btn-text">Send A Message</span>
                                            <span class="thm-btn-icon-box"><i class="fas fa-arrow-right"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>









@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
