@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .feature-flex-content p {
        color: #343131;
        font-size: 17px;
        font-weight: 400;
        margin-top: 10px;

    }
</style>



<!-- Slider START -->
<!-- Slider START -->
<div class="swiper-main-slider swiper-container">
    <div class="swiper-wrapper">

        <!-- Slide 1 Start -->
        <div class="swiper-slide" style="background-image: url('/img/pix.jpeg');">
            <div class="medium-overlay"></div>
            <div class="container">
                <div class="slider-content left-holder">
                    <h2 class="animated fadeInDown">
                        The Alumni Association of the<br> National Institute (AANI)
                    </h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12">
                            <p class="animated fadeInDown">
                                ...To Build A Better Society
                            </p>
                        </div>
                    </div>
                    <div class="animated fadeInUp mt-30">
                        <a asp-page="/" class="primary-button button-md">Know More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url('/img/pic8.jpg');">
            <div class="medium-overlay"></div>
            <div class="container">
                <div class="slider-content left-holder">
                    <h2 class="animated fadeInDown">
                        The Alumni Association of the<br> National Institute (AANI)
                    </h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12">
                            <p class="animated fadeInDown">
                                ...To Build A Better Society
                            </p>
                        </div>
                    </div>
                    <div class="animated fadeInUp mt-30">
                        <a asp-page="/" class="primary-button button-md">Know More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" style="background-image: url('/img/pic5.jpg');">
            <div class="medium-overlay"></div>
            <div class="container">
                <div class="slider-content left-holder">
                    <h2 class="animated fadeInDown">
                        The Alumni Association of the<br> National Institute (AANI)
                    </h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12">
                            <p class="animated fadeInDown">
                                ...To Build A Better Society
                            </p>
                        </div>
                    </div>
                    <div class="animated fadeInUp mt-30">
                        <a asp-page="/" class="primary-button button-md">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- Slider END -->




<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/img/sec.jpeg" class="rounded-border shadow-primary" alt="img">
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="pr-30-md">
                    <div class="section-heading">
                        <h4>Introduction</h4>
                    </div>
                    <div class="section-heading-line-left"></div>
                    <div class="text-content-big">
                        <p style="margin-bottom:0;">
                            The story of the Alumni Association of the National Institute (AANIj is a subject for a book on its own given the constantly growing volume of information the Association, as well as the degree of comprehensiveness required to do justice to its activities. To be on the safe side,
                        </p>
                        <p style="margin-bottom:0;">
                            therefore, this effort on the brief history of the Alumni Association of the National Institute (AANI) has chosen to err on the side Of caution in order to avoid offending the sensitive sensibilities of members as a result of insufficient information.
                        </p>
                    </div>

                    <div class="">
                        <a href="#" class="primary-button button-sm mb-15-xs">Know More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="section-block-bg" style="background-image: url('../img/bg2.jpg');">
    <div class="container">
        <div class="section-heading center-holder white-color">

            <h2><strong>AANI HERITAGE COUNCIL</strong></h2>
            <h6>
                Speaking specifically about the nation, it is an indisputable fact that her members constitute an source of highpwered human resource for national development prominently on the driving seat in various government and Agencies (MDAs) at both the Federal and state equally prominently in politics, labour,
                the academia. the prnfe.snons. and the organised private sector of the economy.
            </h6>
            <a href="#" class="primary-button button-md mt-10">Contributions are Below</a>
        </div>
    </div>
</div>
<style>
    .section-block2 {
        padding: 20px 0px 20px 0px;
        background-color: #fff;
    }
</style>

<div class="section-block section-block2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/img/ei.jpeg" class="mb-15-xs" alt="map">
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="section-heading">
                    <h5>Cattributions of the AANI in the early years, 1978-1999</h5>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="text-content">
                    <p>

                        During the military era, the Association produced one Military President in be person of General Ibrahim Babangida. It also produced two Heads of State the persons of Generals Sani Abacha and Abdulsalami Abubakar reqectively.
                        <br />
                        In addition, it produced four Prime Ministers under the zrangement, namely: late Vice-Admiral Augustus Aikhomu. late MAi00 Generail Tunde Idiagbon, Lieutenant-General Oladipo Diya, and Vice-Adrmral We Akhigbe. Some members of the AANI also attained the apex oi their ateers after graduating from Kuru.
                    </p>
                </div>
                <div class="">
                    <a href="#" class="primary-button button-sm">Know More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-block section-block2">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-sm-6 col-12">
                <div class="section-heading">
                    <h5>Contributions of AANI post 1999</h5>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="text-content">
                    <p>

                        The list of AANI members who are serving the country in various administrative, academic, business, legislative, or professional capacities to those listed in the preceding section grows every year with the graduation of SEC participants who qualify for the award of the mni certificate. The dearth of information makes any attempt to give a full roll call of all persons, who have achieved career progress in their respective professions or callings after successfully graduating from the SEC programme practically Impossible.
                    </p>
                </div>
                <div class="">
                    <a href="#" class="primary-button button-sm">Know More</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/img/coment2.jpg" class="mb-15-xs" alt="map">
            </div>
        </div>
    </div>

</div>

<div class="section-block section-block2">

    <div class="container">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/img/coment3.jpg" class="mb-15-xs" alt="map">
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="section-heading">
                    <h5>Bridging the Information Gap</h5>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="text-content">
                    <p>

                        Association set in motion the full machinery to establish and maintain a data base of its members by starting a Newsletter in December 1988. The objectives stated in the foreword to the maiden issue by the then president of the Association, Otunba OlabiYi Durojaiye. in these words:

                    </p>
                    <blockquote>
                        to keep members of the Association abreast of events...focus attention on the welfare of members and keep track of their contribute to the fulfilment of one of the cardinal objectives Of the founding fathers of the Institute, i.e. to bridge communications gap among top policy and decision makers ofthe public and private sectors of the economy.

                    </blockquote>
                </div>
                <div class="">
                    <a href="#" class="primary-button button-sm">Know More</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section-block section-block2">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6 col-12">
                <div class="section-heading">
                    <h5>Intellectual contribution of the Association on national issues</h5>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="text-content">
                    <p>

                        In the rest of this discussion on the contributions of AANI to the nation, attention is shifting away from the individual to the Association as a body corporate - a collective group intervening on national issues through giving advice to government outside the Ministries, expressing informed opinion on national issues, and working with other groups or agencies of government to advance the course of moving the country forward in a positive direction.
                    </p>
                </div>
                <div class="">
                    <a href="#" class="primary-button button-sm">Know More</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/img/comment4.jpeg" class="mb-15-xs" alt="map">
            </div>
        </div>
    </div>
</div>

<div class="section-block section-block2">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/img/comment6.jpg" class="mb-15-xs" alt="map">
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="section-heading">
                    <h5>Building family bridges to build the Nation</h5>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="text-content">
                    <p>

                        There is one more contribution which is easy to gloss over or even ignore it is a very important contribution to the process on nation building. the contribution by individual members of the AANI in building lasting bridge across families as a major step towards building a united and indivisible Nigeria. This contribution can be appropriately described as an important by. product of the SEC programme. This is how it happens. Each Course usually starts as an assemblage of individuals with different backgrounds. Some them may happen to come from the same state of the Federation, even though not from the same organisation, establishment or institution.

                        Each one of them brings along with him/her certain idiosyncrasies, and values, including family values.
                    </p>
                </div>
                <div class="">
                    <a href="#" class="primary-button button-sm">Know More</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="section-block section-block2">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6 col-12">
                <div class="section-heading">
                    <h5>Summing up on contributions by NIPSS and AANI</h5>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="text-content">
                    <p>

                        Input into the development planning process is not the sole prerogative of any single institution in the country. It is a shared responsibility where the relative role(s) assigned to particular establishments involved in the process is/are duly recognised and adequately supported in order to guarantee meaningåll performance. The reality for this assertion provides the rationale for the establishment of such government institutions and agencies like the MLA, NISER, and a host of other institutions including the defunct NCIR and CDS, whose activities supported or still support government's decision-making machinery in one way or the other. In this light, it is wise to concede the argument, howbeit in part, that the National Institute for Policy and Strategic Studies and her Alumni Association do not hold the key to the solution of the nation's socio-economic and related developmental problems. Neither do they have the monopoly.
                    </p>
                </div>
                <div class="">
                    <a href="#" class="primary-button button-sm">Know More</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <img src="~/img/comment5.jpg" class="mb-15-xs" alt="map">
            </div>
        </div>
    </div>
</div>

<!-- Feature Boxes Section START -->
<div class="section-block-grey">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Meet Our Team</span>
            <h3>AANI EXECUTIVES</h3>
            <div class="section-heading-line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row mt-50">
            <div class="col-md-4 col-sm-4 col-12">
                <div class="team-member">
                    <div class="team-member-img">
                        <img src="~/img/t1.jpg" alt="img">
                    </div>
                    <div class="team-member-text">
                        <h4><a href="#">IGP Mohammed Dikko Abubakar mni</a></h4>
                        <span>President</span>
                        <p class="text-justify">
                            He is the former Inspector General of Police. He was appointed in 2012 to succeed Hafiz Ringim and was succeeded by Suleiman Abba in 2014. He is currently the Pro Chancellor and Chairman of council Al-Hikma University, Ilorin and also the President of Alumni Association of the National Institute (AANI)
                        </p>

                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-12">
                <div class="team-member">
                    <div class="team-member-img">
                        <img src="~/img/t2.jpg" alt="img">
                    </div>
                    <div class="team-member-text">
                        <h4><a href="#">Air Commodore Ademola Onituju mni.</a></h4>
                        <span>Vic President</span>
                        <p>
                            He is the former Inspector General of Police. He was appointed in 2012 to succeed Hafiz Ringim and was succeeded by Suleiman Abba in 2014. He is currently the Pro Chancellor and Chairman of council Al-Hikma University, Ilorin and also the President of Alumni Association of the National Institute (AANI)

                        </p>

                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-12">
                <div class="team-member">
                    <div class="team-member-img">
                        <img src="~/img/t3.jpg" alt="img">
                    </div>
                    <div class="team-member-text">
                        <h4><a href="#">Dr Kayode Moses Babatunde mni.</a></h4>
                        <span>Secretary-General</span>
                        <p>
                            He is the former Inspector General of Police. He was appointed in 2012 to succeed Hafiz Ringim and was succeeded by Suleiman Abba in 2014. He is currently the Pro Chancellor and Chairman of council Al-Hikma University, Ilorin and also the President of Alumni Association of the National Institute (AANI)
                        </p>

                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-block-bg" style="background-image: url('../img/bg00.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h3><strong style="color:#fff;">Aim and objectives</strong></h3>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="text-content-big mt-20">
                    <p>

                        To establish the means of contributing positively and objectively to national discourse on any issues affecting the deve- lopment of Nigeria and porffer appropriate recommendations and implementation strategies to Government;
                    </p>
                    <p>
                        To serve as think-tank to the Federal, State and Local Governments of Nigeria on all matters of national development.
                    </p>
                </div>
                <div class="mt-20">
                    <a href="#" class="primary-button button-md">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-block">
    <div class="container">
        <div class="section-heading center-holder">
            <span>Explore Our Services</span>
            <h3>Our Services</h3>
            <div class="section-heading-line"></div>
        </div>
        <div class="row mt-60">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="icon-balance3"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Strategic Intervention on National Matters</a></h4>
                            <p>That enabling inclusiveness is required to address agitations caused by imbalance, injustice, and oppression and Executive and Legislative Arms need to give room for venting of opinions rather than gaging divergent opinions.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="icon-diamond"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Development Manager</a></h4>
                            <p>We work as project managers scheduling and delegating tasks required to successfully complete most National Projects</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="icon-credit-card2"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Global National insights</a></h4>
                            <p>That enabling inclusiveness is required to address agitations caused by imbalance, injustice, and oppression and Executive and Legislative Arms need to give room for venting of opinions rather than gaging divergent opinions.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="icon-monitor"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Professional Approach to Challenges</a></h4>
                            <p>That enabling inclusiveness is required to address agitations caused by imbalance, injustice, and oppression and Executive and Legislative Arms need to give room for venting of opinions rather than gaging divergent opinions.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="icon-wallet"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Finance Advisor</a></h4>
                            <p>That enabling inclusiveness is required to address agitations caused by imbalance, injustice, and oppression and Executive and Legislative Arms need to give room for venting of opinions rather than gaging divergent opinions.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-12">
                <div class="feature-flex">
                    <div class="clearfix">
                        <div class="feature-flex-icon">
                            <i class="icon-idea2"></i>
                        </div>
                        <div class="feature-flex-content">
                            <h4><a href="#">Leadership Development</a></h4>
                            <p>That enabling inclusiveness is required to address agitations caused by imbalance, injustice, and oppression and Executive and Legislative Arms need to give room for venting of opinions rather than gaging divergent opinions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Boxes Section END -->
<!-- Background Section START -->
<!-- Background Section END -->
<!-- Counters Section START -->
<div class="section-block-parallax section-md" style="background-image: url('../img/bg-21.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-12">
                <div class="section-heading white-color mt-15">
                    <span>Gain a Success with Us !</span>
                    <h3>We are always Reliable !</h3>
                    <div class="section-heading-line-left"></div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="counter-box white-color">
                            <h4 class="countup">1530</h4>
                            <p>Projects/Essay</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="counter-box white-color">
                            <h4 class="countup">1240</h4>
                            <p>Publications</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-12">
                        <div class="counter-box white-color">
                            <h4 class="countup">1380</h4>
                            <p>Lectures</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters Section END -->
<!-- Newsletter START -->
<div class="section-block-grey border-top border-bottom">
    <div class="container">
        <div class="section-heading center-holder">
            <h2>Stay <strong>informed</strong></h2>
            <div class="section-heading-line"></div>
            <p>Receive our news letter/updates on information and opportunities</p>
        </div>
        <div class="mt-30 center-holder">
            <!-- Newsletter Form START -->
            <form class="newsletter-form" method="post" action="#">
                <input type="email" name="email" placeholder="Enter Your Email adress">
                <button type="submit">Subscribe</button>
            </form>
            <!-- Newsletter Form END -->
        </div>
    </div>
</div>
<!-- Newsletter END -->
<!-- Clients Carousel START -->
<div class="section-clients">
    <div class="container">
        <div class="owl-carousel owl-theme clients" id="clients">
            <div class="item">
                <img src="~/img/logo.png" style="max-height:70px;" alt="partner-image">
            </div>

            <div class="item">
                <img src="~/img/logo.png" style="max-height:70px;" alt="partner-image">
            </div>
            <div class="item">
                <img src="~/img/logo.png" style="max-height:70px;" alt="partner-image">
            </div>
            <div class="item">
                <img src="~/img/logo.png" style="max-height:70px;" alt="partner-image">
            </div>
            <div class="item">
                <img src="~/img/logo.png" style="max-height:70px;" alt="partner-image">
            </div>
            <div class="item">
                <img src="~/img/logo.png" style="max-height:70px;" alt="partner-image">
            </div>
            <div class="item">
                <img src="~/img/logo.png" style="max-height:70px;" alt="partner-image">
            </div>
            <div class="item">
                <img src="~/img/logo.png" style="max-height:70px;" alt="partner-image">
            </div>
        </div>
    </div>
</div>
<!-- Clients Carousel END -->
